params {
// Nextflow QC
qc = 'on'

// Mapping Stage //
mapper = 'bwa-mem2'

// Variant Calling
snp = "freebayes"

// Simon Harris functions
cleaned = 'on'
pseudo = 'on'
bfilter = 'on'

// Treebuilding
raxml = 'on'

// bwa-mem2

// freebayes; r chromosome, g skip rd over g, require C observations per snp, p ploidy
bayr = ''
bayg = 300
bayC = 1
bayp = 2

// RAxML-NG

}

