params {
// Tool selections
// Mapping
// smalt for legacy mapping
// bwa-mem2 recommended for most processing and if run with Simon Harris' indel removals
// bowtie2 recommended if indels to be kept on small-medium runs
mapper = 'bwa-mem2'

// Variant Calling
// freebayes
// Simon Harris manipulations
snp = "freebayes"

// Nextflow QC

// fastqc
// trimgalore

// Mapping Stage //
mapper = ''
ref = ''

// Smalt
// Smalt Index
// k is k-mer length for index file, s is for word gap allowance
smltk = 13
smlts = 13
// Smalt Map
smlta = false
smltc = false
smltd = false
smltf = 'bam'
smltx = false
smltF = 'fastq'
smltg = false
smlti = false
smltj = false
smltl = false
smltm = 25
smltn = false
smlto = 'aln.sam'
smltp = false
smltq = false
smltr = false
smltS = false
smltT = false
smltw = false
smltx = false

// bwa-mem2

// freebayes; r chromosome, g skip rd over g, require C observations per snp, p ploidy
bayr = ''
bayg = 300
bayC = 1
bayp = 2

// RAxML-NG

}

