params {
// Tool selections
// Nextflow QC, set to 'on' to see qc results
qc = 'on'

// Mapping
// smalt, for legacy mapping
// bwa-mem2, recommended for most processing and if run with Simon Harris' indel removals
// bowtie2, recommended if indels to be kept on small-medium runs
mapper = 'bwa-mem2'

// Variant Calling
// freebayes recommended for simple runs to recognised standards
// Simon Harris manipulations
snp = "freebayes"

// Mapping Stage //
mapper = ''
ref = ''

// Smalt
// Smalt Index
// k is k-mer length for index file, s is for word gap allowance
smltk = 13
smlts = 13
// Smalt Map
smalt = 'smlta, smltc, smltd, smltf, smltx, smltF, smltg, smlti, smltj, smltl, smltm, smltn, smlto, smltp, smltq, smltr, smltS, smltT, smltw, smltx'
smlta = 'unused'
smltc = 'unused'
smltd = 'unused'
smltf = 'unused'
smltx = 'unused'
smltF = 'fastq'
smltg = 'unused'
smlti = 'unused'
smltj = 'unused'
smltl = 'unused'
smltm = 25
smltn = 'unused'
smlto = 'unused'
smltp = 'unused'
smltq = 'unused'
smltr = 'unused'
smltS = 'unused'
smltT = 'unused'
smltw = 'unused'
smltx = 'unused'

// bwa-mem2

// freebayes; r chromosome, g skip rd over g, require C observations per snp, p ploidy
bayr = '' // region of chromosome <chrom>:<start-pos>-<end-pos>
bayg = '300'
bayC = '1'
bayp = '2'
bayt = 'unused' // targets limited to BED-format FILE
baypopulations = 'unused' // bayesian inference will be partitioned based on FILE of sample-population pairs
bayA = 'unused'
bayl = 'unused'


// RAxML-NG

}

