params {
// Tool selections
// Nextflow QC, set to 'on' to see qc results
qc = 'on'

// Mapping
// smalt, for legacy mapping
// bwa-mem2, recommended for most processing and if run with Simon Harris' indel removals
// bowtie2, recommended if indels to be kept on small-medium runs
mapper = 'bwa-mem2'

// Variant Calling
// freebayes recommended for simple runs to recognised standards
// Simon Harris manipulations
snp = "freebayes"

// Mapping Stage //
mapper = ''
ref = ''

// Smalt
// Smalt Index
// k is k-mer length for index file, s is for word gap allowance
smltk = 13
smlts = 13
// Smalt Map
smlt = [
smlta = '-a unused',
smltc = '-c unused',
smltd = '-d unused',
smltf = '-f unused',
smltx = '-x unused',
smltF = '-F fastq',
smltg = '-q unused',
smlti = '-i unused',
smltj = '-j unused',
smltl = '-l unused',
smltm = '-m 25',
smltn = '-n unused',
smlto = '-o unused',
smltp = '-p unused',
smltq = '-q unused',
smltr = '-r unused',
smltS = '-S unused',
smltT = '-T unused',
smltw = '-w unused',
smltx = '-x unused'
]

// bwa-mem2

// freebayes; r chromosome, g skip rd over g, require C observations per snp, p ploidy
bayr = '' // region of chromosome <chrom>:<start-pos>-<end-pos>
bayg = '300'
bayC = '1'
bayp = '2'
bayt = 'unused' // targets limited to BED-format FILE
baypopulations = 'unused' // bayesian inference will be partitioned based on FILE of sample-population pairs
bayA = 'unused'
bayl = 'unused'


// RAxML-NG

}

